version: '3.8'

services:
  playwright:
    build: .

    container_name: playwright_tests

    volumes:
      - .:/app

    environment:
      - NODE_ENV=test

    command: npx playwright test --reporter=html
